* {
  box-sizing: border-box;
  user-select: none;
}

body {
  margin: 0;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  // background-color: black
}

code {
  font-family: 'source-code-pro, Menlo, Monaco, Consolas, 'Courier New'',
    monospace;
}

.app {
  width: 100vw;
}