.snippet {
  $c: &;
  display: flex;
  flex-direction: row;
  margin-top: 10px;

  &__avatar {
    width: 40px;
    height: 40px;
    border-radius: 50%;
    margin-right: 10px;
    background-color: red;
    flex: 0 0 40px;
    display: flex;
    justify-content: center;
  }

  &__lastMessage {
    flex: 1 1 auto;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    max-height: 40px;
    overflow: hidden;

    #{$c}__user {
      font-weight: 600;
    }

    #{$c}__message {
      opacity: 0.5;
    }
  }

  &__time {
    font-size: 12px;
    flex: 0 0 auto;
    display: flex;
    align-items: flex-end;
    opacity: 0.5;
  }
}