.message-wrapper {
  display: flex;
  flex-direction: row;
  margin-bottom: 5px;

  .message {
    width: fit-content;
    max-width: 70%;
    padding: 5px 10px;
    color: white;
    background-color: #0479fb;
    border-radius: 0px 10px 10px 10px;

    &.my {
      border-radius: 10px 0px 10px 10px;
    }

    &__time {
      font-size: 12px;
      opacity: 0.5;
      text-align: right;
    }
  }
}